* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  color: #222;
  line-height: 1.4;
  font-size: 16pt;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  padding-right: 5px;
}

nav a {
  text-decoration: none;
  color: #fff;
}

nav a:hover {
  color: goldenrod;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 60px;
  background-color: darkolivegreen;
}

.hero {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: visible;
}

.hero-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-text {
  position: absolute;
  bottom: -60px;
  width: 100%;
  text-align: center;
  color: black;
}

.hero-text h1 {
  font-family: 'Playfair Display', serif;
  font-size: 2.5rem;
  line-height: 1em;
  margin: 0;
}
