* {
  margin: 0;
  padding: 0;
}

html {
  color: #222;
  line-height: 1.4;
  font-size: 16pt;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  padding-right: 5px;
}

nav a {
  text-decoration: none;
  color: #fff;
}

nav a:hover {
  color: goldenrod;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 60px;
  background-color: darkolivegreen;
}
